
.container{
  width: 100vw;
  height: 100vh;
  background: lightblue;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}


.form_login{
  width: 500px;
  height: 300px;
  background: white;
  padding: 20px 30px;
  border-radius: 10px;
}

.form_login h1{
   margin: 0px;
   margin-bottom: 30px;
   color: black;
}

.btn{
  width: 130px;
  height: 40px;
  border-radius: 10px;
  border: none;
  background: lightblue;
  color: black;
}

.form_text input::placeholder{
  color: silver;
  text-indent: 20px;
}

.btn:hover{
  background: rgb(96, 96, 250);
  color: white;
}

.btn:active{
  background: blue;
}

.form_text{
  margin-bottom: 40px;
  position: relative;
}

.form_text input{
  width: 100%;
  height: 35px;
  border: none;
  background-color: wheat;
  border-radius: 5px;
  text-indent: 20px;
}

.your_class::-webkit-input-placeholder {
  color: red
}

.inf{
  color: lightblue;
  float: left;
}
